*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
.header{
    background-image: linear-gradient(
    to right bottom,
    rgba(14, 38, 255, 0.2),
    rgba(6, 90, 216, 0.6)),
     url('../img/banner.jpg');
    background-position:center;
    background-size: 100%;
    background-color: rgb(37, 59, 250);
    background-repeat: no-repeat;
    text-align: center;
    padding:25px 0; 
    box-shadow: 0 0 10px black;
   
}
.logo{
    width: 20%;
}
.container{
    display: flex;
    margin: 10px 0;
    position: relative;
    
}
.navbar{
    width: 30%;
    background-color: white;
    padding: 30px;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:white;
}
.navbar ul{
    list-style: none;
}
.navbar li{
    background-color: rgb(8, 32, 247);
    margin: 5px;
    padding: 10px 5px;
    border-radius: 10px 0;
    text-align: center;
    
}
.content{
    width: 70%;
    background-color: #d8d8d8;
    padding: 30px;
    margin: 5px 10px -10px 5px;
    border-top-left-radius: 20px;
}
h1{
    font-size: 20px;
    margin: 10px;
    font-family: 'Didact Gothic', sans-serif;
}
h2{
    font-size: 18px;
    font-family: 'Didact Gothic', sans-serif;
}
p{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
span{
    font-size: 15px;
    margin-left: 15px;
}
.footer{
    background-color: rgb(216, 214, 214);
    text-align: center;
    color: rgb(8, 32, 247);
    padding: 10px;
    position: relative;
    width: 100%;
    
}
.quem-somos{
    display: flex;
    flex-direction: column;
    align-items: center;  
 }
 .quem-somos img{
     width: 50%;
     margin-bottom: 10px;
 }
 .produtosprincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
 .produtos{
   width: 30%;
   text-align: center;
}
.produtos p{
    margin: 10px;
} 
.imagemprodutos{
    width: 75%;
}
.servicoprincipal{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
 .servicos{
    text-align: center;
}
.servicos p{
    margin: 10px;
} 
.imagemservicos{
    width: 75%;
} 

.fale-conosco{
    columns: 2;
    width: 100%;
}
.contato{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.contato i{
    font-size: 25px;
}
.redes-sociais{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.redes-sociais i{
    font-size: 30px;
}
