*{
    box-sizing: border-box;
}
body{
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}
h1{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0;
}
h2{
    font-size: 30px;
    margin-top: 5px;
}
h3{
    font-size: 20px;
    margin-bottom: 0;
}

.content{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10% 28% 10% 28%;
    
}
.logo{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.first-form{
    width: 90%;
    height:38px;
    border-radius: 5px;
    margin-top: 8px;
    color:darkgrey;
    font-size: 15px;
    padding: 0 10px 0 10px;
    border-color: white;
    border:0;
}
.button{
    width: 90%;
    height:38px;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
    padding: 5px;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(59, 59, 247);
}
.checkbox{
    margin-top: 15px;
}
label{
    font-size: 12px;
}

